<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
       
    <!-- 团购套餐begin -->
	<bean id="tuanProductDao" class="tuan.dao.imp.TuanProductDao"  parent="baseDao"/>
	<bean id="tuanProductService" class="tuan.service.imp.TuanProductService"  parent="baseService">
		<property name="tuanProductDao"><ref bean="tuanProductDao" /></property>
	</bean>
	<!-- 团购套餐end -->
		
	<!-- 团购套餐分类begin -->
	<bean id="tuanProductTypeDao" class="tuan.dao.imp.TuanProductTypeDao"  parent="baseDao"/>
	<bean id="tuanProductTypeService" class="tuan.service.imp.TuanProductTypeService"  parent="baseService">
		<property name="tuanProductTypeDao"><ref bean="tuanProductTypeDao" /></property>
	</bean>
	<bean id="tuanProductTypeAction" class="tuan.action.TuanProductTypeAction" scope="prototype">
		<property name="tuanProductTypeService"><ref bean="tuanProductTypeService" /></property>
		<property name="tuanProductService"><ref bean="tuanProductService" /></property>
	</bean>
	<!-- 团购套餐分类end -->
</beans>